// common scss
@use './variables.scss' as vars;

// inputs
.input-control {
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 6px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

// buttons
.primary-btn {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    background-color: vars.$primary-color;
    cursor: pointer;

    &:hover {
        background-color: vars.$darkblue;
    }
}

.danger-btn {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    background-color: vars.$red;
    cursor: pointer;

    &:hover {
        background-color: vars.$darkred;
    }
}

// common css
.link {
    color: vars.$primary-color;
    cursor: pointer;

    :hover {
        color: vars.$darkblue;
    }
}