// variables.scss

// Primary color palette
$primary-color: #38bdf8; //sky-400
$darkblue: #0ea5e9; //sky-blue-500

// Red color palette
$red: #ef4444; //red-500
$darkred: #dc2626; //red-600

// Green color palette
$green: #4ade80; //green-400
$darkgreen: #22c55e; //green-500

// White color palette
// $white: #ffffff;
// $white-25: #f6f6f6;
// $white-50: #ececec;
// $white-75: #e1e1e1;
// $white-100: #d0d0d0;

$white: #ffffff;      // Pure white
$white-25: #f9f9f9;   // Soft neutral off-white
$white-50: #f3f3f3;   // Light neutral gray, great for subtle backgrounds
$white-75: #eaeaea;   // Muted neutral gray, for sections or cards
$white-100: #e0e0e0;  // Slightly darker neutral gray for borders or subtle contrasts

