@use '../../../common/scss/variables' as vars;
@use '../../../common/scss/common';

.sec-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    background-color: vars.$white-50;

    p {

        &:hover {
            background-color: vars.$white-25;
            border-radius: 6px;
        }

        i {
            padding: 12px 8px;
            font-size: 28px;
            cursor: pointer;
        }
    }

    .profile-container {
        background-color: vars.$white-25;
        border-radius: 6px;
        color: vars.$darkblue;
        transition: .3s ease-in;

        &:hover {
            color: dimgray;
        }
    }
}

.sec-right {
    background-color: vars.$white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    overflow-y: auto !important;

    p {

        i {
            padding: 12px 0px;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .chat-container {
        height: 100%;
        overflow-y: auto !important;

        .chat-section {
            cursor: pointer;
            // border-radius: 4px;
            transition: background-color .3s ease;
            padding: 12px 6px 12px 16px !important;

            .iconDiv {
                background-color: vars.$white-50;
                border-radius: 6px;
                transition: background-color .3s ease;
            }

            i {
                padding: 12px 8px;
                font-size: 28px;
            }

            &:hover {
                background-color: vars.$white-50;

                .iconDiv {
                    background-color: vars.$white;
                }
            }
        }

        /* Custom Scrollbar Styles */
        scrollbar-width:thin;
    }

    .profileLogo {
        background-color: vars.$white-25;
        border-radius: 50%;
        width: 240px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 100px;
        }
    }

}

.active {
    background-color: vars.$white-25;
    border-radius: 6px;
}

.chat-active {
    background-color: vars.$white-50;

    .iconDiv {
        background-color: vars.$white;
    }
}