<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1 pt-4 px-4">
        <div class="py-3">
            <h1 class="text-2xl font-bold text-gray-600">Requests</h1>
        </div>
        <div>
            <input type="text" placeholder="Search" [formControl]="searchText" class="input-control">
        </div>
    </div>

    <div class="chat-container">
        <ng-container *ngFor="let user of users">
            <div class="grid grid-cols-12 gap-4 chat-section">
                <div class="col-span-2 flex justify-center items-center iconDiv">
                    <i class="fa-solid" [class]="'fa-'+user?.sender?.username?.[0]?.toLowerCase()"></i>
                </div>
                <div class="col-span-7 grid grid-cols-1 gap-1">
                    <h2 class="text-gray-950 text-base">{{user?.sender?.username}}</h2>
                    <p class="text-sm">{{user?.sender?.about}}</p>
                </div>
                <div class="col-span-3 flex justify-center items-center gap-4 userIcon">
                    <i *ngIf="!isLoading" class="fa-solid fa-xmark" title="Reject"
                        (click)="updateRequest(user,'rejected')"></i>
                    <i *ngIf="!isLoading" class="fa-solid fa-check" title="Accept"
                        (click)="updateRequest(user,'accepted')"></i>
                    <span class="spinner" *ngIf="isLoading"></span>
                </div>
            </div>
            <hr>
        </ng-container>
    </div>
</div>