@use '../../../common/scss/variables' as vars;

.imageDiv {
    background-color: vars.$white-50;
    height: calc(100vh - 6.2vh);
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        font-size: 36px;
    }

    .chat {
        color: #38bdf8;
        opacity: 0;
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0% {
            opacity: 0.5;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0.5;
        }
    }
}

.section-top {
    background-color: vars.$white-50;

    .chat-container {

        .iconDiv {

            &:first-child {
                background-color: vars.$white;
                border-radius: 6px;
            }

            i {
                font-size: 24px;
            }
        }
    }

}

.section-center {
    height: calc(100vh - (140.4px + 7vh));
    background-color: vars.$white-25;
    padding: 2px 0 16px 0;

    .messageDiv {
        width: 100%;
        display: flex;
        justify-content: right;

        .message {
            background-color: vars.$white;
            padding: 8px;
            border-radius: 8px;
            max-width: 70%;
        }
    }

    .userMessageDiv {
        width: 100%;
        display: flex;
        justify-content: left;

        .message {
            background-color: vars.$white;
            padding: 8px;
            border-radius: 8px;
            max-width: 70%;
        }
    }
}

.section-bottom {
    background-color: vars.$white-50;

    .iconDiv {
        background-color: vars.$white;
        border-radius: 6px;
        padding: 4px 8px;

        p {
            i {
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}